<app-header></app-header>
<div class="container-fluid" >
    
    <div class="panel-dashboard">
        <div class="row">
            <div class="card  border-primary m-1 col-md-5">
                <div class="card-body text-primary">
                  <h1 class="card-title"> {{livro}}</h1>
                  <p class="card-text"> Total de livros cadastrados</p>
                </div>
            </div>
            <div class="card  border-success m-1 col-md-5">
                <div class="card-body text-success">
                  <h1 class="card-title">{{categoria}}</h1>
                  <p class="card-text">Total de Categorias</p>
                </div>
            </div>
            <div class="card  border-warning m-1 col-md-5">
                <div class="card-body text-warning">
                  <h1 class="card-title">  {{editora}}</h1>
                  
                  <p class="card-text">Total de Editoras</p>
                </div>
            </div>
            <div class="card  border-danger m-1 col-md-5">
                <div class="card-body text-danger">
                  <h1 class="card-title"> {{autor}}</h1>
                  <p class="card-text">Livros de Autores livros</p>
                </div>
            </div>      
        </div>
    </div>
   
</div>